asyncgui==0.6.3
asynckivy==0.6.4
blinker==1.9.0
buildozer==1.5.0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
distlib==0.3.9
docutils==0.21.2
filelock==3.18.0
filetype==1.2.0
Flask==3.1.1
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
Kivy==2.3.1
Kivy-Garden==0.1.5
kivy_deps.angle==0.4.0
kivy_deps.glew==0.3.1
kivy_deps.sdl2==0.8.0
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip#sha256=95cb4f6c5c03c594cbc263379474131cce578469df9ac5b21d06f38b7e3700bb
MarkupSafe==3.0.2
materialyoucolor==2.0.10
packaging==25.0
pexpect==4.9.0
pillow==11.2.1
platformdirs==4.3.8
ptyprocess==0.7.0
pygame==2.6.1
Pygments==2.19.1
pypiwin32==223
pywin32==310
requests==2.32.3
sh==2.2.2
tk==0.1.0
urllib3==2.4.0
virtualenv==20.31.2
Werkzeug==3.1.3
