<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8" />
    <title>{% block title %}HD Wallpapers{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('home') }}">HD Wallpapers</a></h1>
        <nav>
            <a href="{{ url_for('index') }}">
            <!-- add more links like PC, Mobile, Upload (admin) -->
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 HD Wallpapers</p>
    </footer>
</body>
</html>
